h3{
color: white;
margin: 0px;
padding:10px;
background:red;
font-weight: bold;
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
input[type=number] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}